h1{
    color: rgb(102, 26, 26);
    font-size: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(231, 0, 0);
}
body{
    height: 2px;
    color: rgb(107, 0, 0) ;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    color: black;
}