.container{
    display: flex;
    justify-content: space-around;
    }
    .prala {
    width: 300px;
    height: 300px;
    background-image: url('praca.webp');
    background-size: cover;
}